extends ../layout

block content
  .container
    .row
      each cat in categories
        .panel.panel-default
          .panel-heading
            h3
             a(href="/movie/result?cat=" + cat._id + "&p=0") #{cat.name}
          .panel-body
            if cat.movies && cat.movies.length > 0
              each item in cat.movies
                //- .row
                .col-sm-6.col-md-4
                  .thumbnail
                    a(href="/movie/" + item._id)
                      img.img-responsive.img-thumbnail(src=item.poster alt=item.title style="height: 200px; width: 100%; display: block;")
                    .caption
                      h5 #{item.title}
                      p: a.btn.btn-primary(href="/movie/" + item._id, role="button") 观看预告片